<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="../../static/css/layui.css">
</head>
<body class="layui-layout-body">
<div>
    <table lay-filter="logList" lay-data="{id: 'idTest'}">
        <thead>
        <tr>
            <th lay-data="{field:'',type:'checkbox', fixed: 'left'}"></th>
            <th lay-data="{field:'appId',width:100}">日志ID</th>
            <th lay-data="{field:'appName',width:120}">项目名称</th>
            <th lay-data="{field:'appType',width:120}">日志收集路径</th>
            <th lay-data="{field:'createTime',width:170}">创建时间</th>
            <th lay-data="{field:'developPath',style:'background-color:#5FB878;color:#fff;'}">TOPIC</th>
        </tr>
        </thead>
        <tbody>
        {{range .loglist}}
            <tr>
                <td></td>
                <td>{{.LogId}}</td>
                <td>{{.AppName}}</td>
                <td>{{.LogPath}}</td>
                <td>{{.CreateTime}}</td>
                <td>{{.Topic}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>

<script src="../../static/js/layui.all.js"></script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    let table = layui.table;

    //转换静态表格
    table.init('logList', {
        limit: 10
    });

    table.on('row(logList)',function (d) {
        console.log(d.data);
    })
</script>
</body>
</html>
